<%= form_with(model: @user, local: false, "data-turbo": "true", html: {class: "", id: "admin_form"}, url: {controller: "admin", action: @user.new_record? ? "create" : "update"}, method: @user.new_record? ? :post : :patch) do |form| %>
  <div class="row mb-3">
    <div class="col">
      <%= form.label :first_name, "First Name", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.text_field :first_name, required: true, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <%= form.label :last_name, "Last Name", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.text_field :last_name, required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
    <%= form.label :email, "Email", class: "form-label" %>
    <div data-mdb-input-init class="form-outline">
      <%= form.text_field :email, required: true, class: "form-control" %>
    </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :provider, "Login Type", class: "form-label" %>
      <div class="select-outline">
        <%= form.select :provider,
            [["Google OAuth", "google_oauth2"], ["Local Username/Password", "local"]],
            { selected: (@user.preloaded_google_auth? ? "google_oauth2" : @user.provider) },
            { required: true, class: "select form-control", data: { mdb_select_init: true } } %>
      </div>
    </div>
    <div class="col">
      <%= form.label :username, "Username (local only)", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.text_field :username, class: "form-control", autocomplete: "username" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label :password, "Password (local only)", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>
    <div class="col">
      <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>
  </div>
  
  <%= form.label :unit_id, "Outfit", class: "form-label" %>
  <div class="select-outline">
    <%= form.select :unit_id, 
        Unit.where(cat: "outfit").map{ |unit| [unit.name, unit.id]},
        {prompt: "Choose Outfit"},
        {required: true, class: "select form-control", data: {mdb_select_init: true}} %>
  </div>
  <div class="form-check">
    <%= form.check_box :admin_flag, class: "form-check-input", id: "admin_flag" %>
    <%= form.label :admin_flag, class: "form-check-label", for: "admin_flag" do %>
      Admin User
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
